{% extends "base.html" %}

{% block title %}About | Bakery{% endblock title %}

{% block body %}

 <!-- About Us Section -->
 <div class="container bootstrap snippets bootdey">
    <section id="about" class="current">
        <div class="about-top">
            <div class="container bootstrap snippets bootdey">
                <div class="row text-center">
                    <div class="col-sm-12 col-md-12 col-md-12">
                        <h2>About Us</h2>
                        <h2 style="font-size: 60px;line-height: 60px;margin-bottom: 20px;font-weight: 900;">Napensea Road Bakery</h2>
                        <p>We've been proudly serving delicious baked goods since 1977. Our bakery is located in the heart of Napensea Road, Mumbai.</p>
                        <p>Address: Napensea Road, Malabar Hill, Mumbai 40006</p>
                        <p>Email: contact@akhileshbakery.com</p>
                        <p>Phone: +91 123 456 7890</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1 col-sm-12 col-md-12 col-md-10">
                        <div class="about-content">
                            <p>At Napensea Road Bakery, we are dedicated to providing our customers with the finest quality baked goods made with love and care. Our team of experienced bakers uses the finest ingredients to create a wide range of delicious treats, from freshly baked bread to mouth-watering pastries and cakes.</p>
                            <p>Whether you're celebrating a special occasion or just want to indulge in a sweet treat, our bakery has something for everyone. We take pride in our longstanding tradition of delivering delicious and freshly baked goods to the community.</p>
                            <p>Thank you for being a part of our journey. We look forward to continuing to serve you for many more years to come!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock body %}