{% extends "base.html" %}

{% block title %}Home | Bakery{% endblock title %}

{% block body %}

{% comment %} // unsplash random links {% endcomment %}

{% comment %} <div class="container">
	<img
	  src="https://source.unsplash.com/random/1000x500/?fruit"
	  alt="Random Fruit Image"
	/>
</div> {% endcomment %}

<style>
	.carousel-control, .carousel-indicators {
    visibility: hidden;
}
</style>

<div id="carouselExample" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carouselExample" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExample" data-slide-to="1"></li>
        <li data-target="#carouselExample" data-slide-to="2"></li>
      </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="https://source.unsplash.com/random/1450x500/?food" alt="Slide 1">
      </div>
      <div class="item">
        <img src="https://source.unsplash.com/random/1450x500/?bakery" alt="Slide 2">
      </div>
      <div class="item">
        <img src="https://source.unsplash.com/random/1450x500/?cake" alt="Slide 3">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#carouselExample" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carouselExample" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


{% comment %} // Bootstrap container for displaying the heading {% endcomment %}


<section class="jumbotron text-center">
	<div class="container">
	  <h1 class="jumbotron-heading">Our collections</h1>
	  <p class="lead text-muted">Indulge in the delightful world of our bakery, where we craft custom cakes for your special occasions, delight your taste buds with an array of delicious cookies, and offer freshly baked bread to start your day with warmth and flavor.</p>
	  <p>
		<a href="#" class="btn btn-primary my-2">Order Now</a>
		<a href="#" class="btn btn-secondary my-2">Learn more</a>
	  </p>
	</div>
  </section>


{% comment %} // Bootstrap Album {% endcomment %}

<div class="album py-5 bg-light">
	<div class="container">

	  <div class="row">
		<div class="col-md-4">
		  <div class="card mb-4 box-shadow">
			<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://source.unsplash.com/random/1450x500/?cookie" data-holder-rendered="true">
			<div class="card-body">
			  <h3>Chocolate Croissant</h3>
			  <p class="card-text">Indulge in the heavenly layers of flaky pastry embracing a rich chocolate filling, baked to golden perfection. A treat that promises pure delight in every bite.</p>
			  <div class="d-flex justify-content-between align-items-center">
				<div class="btn-group">
				  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
				  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
				</div>
				<small class="text-muted">9 mins</small>
			  </div>
			</div>
		  </div>
		</div>
		<div class="col-md-4">
		  <div class="card mb-4 box-shadow">
			<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://source.unsplash.com/random/1450x500/?bread" data-holder-rendered="true">
			<div class="card-body">
			  <h3>Divine Cinnamon Roll Delight</h3>
			  <p class="card-text">Swirls of cinnamon embrace tender dough, crowned with cream cheese frosting. A sweet delight, comforting and irresistible.</p>
			  <div class="d-flex justify-content-between align-items-center">
				<div class="btn-group">
				  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
				  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
				</div>
				<small class="text-muted">9 mins</small>
			  </div>
			</div>
		  </div>
		</div>
		<div class="col-md-4">
		  <div class="card mb-4 box-shadow">
			<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://source.unsplash.com/random/1450x500/?muffins" data-holder-rendered="true">
			<div class="card-body">
			  <h3>Irresistible Raspberry Danish</h3>
			  <p class="card-text">A symphony of delicate puff pastry, sweet raspberry jam, and a drizzle of icing, creating a perfect harmony of flavors. Each bite is a journey into the heart of fruity elegance.</p>
			  <div class="d-flex justify-content-between align-items-center">
				<div class="btn-group">
				  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
				  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
				</div>
				<small class="text-muted">9 mins</small>
			  </div>
			</div>
		  </div>
		</div>

		<div class="col-md-4">
		  <div class="card mb-4 box-shadow">
			<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://source.unsplash.com/random/1450x500/?pie" data-holder-rendered="true">
			<div class="card-body">
			  <h3>Classic Blueberry Muffin Magic</h3>
			  <p class="card-text">Bursting with plump blueberries, these moist and tender muffins offer a taste of nostalgia. The golden-brown tops conceal a treasure trove of juicy goodness.</p>
			  <div class="d-flex justify-content-between align-items-center">
				<div class="btn-group">
				  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
				  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
				</div>
				<small class="text-muted">9 mins</small>
			  </div>
			</div>
		  </div>
		</div>
		<div class="col-md-4">
		  <div class="card mb-4 box-shadow">
			<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://source.unsplash.com/random/1450x500/?crisp" data-holder-rendered="true">
			<div class="card-body">
			  <h3>Hearty Whole Wheat Bagel Bliss</h3>
			  <p class="card-text">Sink your teeth into the wholesome goodness of a perfectly toasted whole wheat bagel. Ideal for pairing with your favorite spreads for a satisfying crunch.</p>
			  <div class="d-flex justify-content-between align-items-center">
				<div class="btn-group">
				  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
				  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
				</div>
				<small class="text-muted">9 mins</small>
			  </div>
			</div>
		  </div>
		</div>
		<div class="col-md-4">
		  <div class="card mb-4 box-shadow">
			<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://source.unsplash.com/random/1450x500/?chocolate" data-holder-rendered="true">
			<div class="card-body">
			  <h3>Savory Spinach and Feta Pastry</h3>
			  <p class="card-text">Layers of flaky pastry hug a savory filling of fresh spinach and creamy feta. A delightful twist on traditional pastry with savory spinach. A delightful twist.</p>
			  <div class="d-flex justify-content-between align-items-center">
				<div class="btn-group">
				  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
				  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
				</div>
				<small class="text-muted">9 mins</small>
			  </div>
			</div>
		  </div>
		</div>

		<div class="col-md-4">
		  <div class="card mb-4 box-shadow">
			<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://source.unsplash.com/random/1450x500/?cupcake" data-holder-rendered="true">
			<div class="card-body">
			  <h3>Zesty Lemon Poppy Seed Scone</h3>
			  <p class="card-text">Zesty lemon meets poppy seeds in a delightful scone. A citrusy crunch and refreshing sweetness in every bite.</p>
			  <div class="d-flex justify-content-between align-items-center">
				<div class="btn-group">
				  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
				  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
				</div>
				<small class="text-muted">9 mins</small>
			  </div>
			</div>
		  </div>
		</div>
		<div class="col-md-4">
		  <div class="card mb-4 box-shadow">
			<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://source.unsplash.com/random/1450x500/?doughnuts" data-holder-rendered="true">
			<div class="card-body">
			  <h3>Decadent Chocolate Hazelnut Tart</h3>
			  <p class="card-text">Luxurious chocolate ganache meets nutty hazelnuts in a perfect tart. Decadent, rich, and irresistibly delightful.</p>
			  <div class="d-flex justify-content-between align-items-center">
				<div class="btn-group">
				  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
				  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
				</div>
				<small class="text-muted">9 mins</small>
			  </div>
			</div>
		  </div>
		</div>
		<div class="col-md-4">
		  <div class="card mb-4 box-shadow">
			<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://source.unsplash.com/random/1450x500/?snickerdoodles" data-holder-rendered="true">
			<div class="card-body">
			  <h3>Fluffy Almond Croissant Clouds</h3>
			  <p class="card-text">Ethereal layers of almond-infused pastry, baked to golden perfection. Delicate and heavenly, a blissful experience in every croissant.</p>
			  <div class="d-flex justify-content-between align-items-center">
				<div class="btn-group">
				  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
				  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
				</div>
				<small class="text-muted">9 mins</small>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>

  <!-- // script for delaying the rendering of the arrows and the Indicators -->
  <script>
    $(document).ready(function() {
        var carouselImages = $('.carousel img');
        var totalImages = carouselImages.length;
        var loadedImages = 0;

        function checkImagesLoaded() {
            loadedImages++;
            if (loadedImages === totalImages) {
                $('.carousel-control, .carousel-indicators').css('visibility', 'visible');
            }
        }

        carouselImages.each(function() {
            $(this).on('load', checkImagesLoaded);
        });
    });
</script>

{% endblock body %}